@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body {

}

.header {
    min-height: 100vh;
}

.header .video-container {

}

.header .video-container video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    filter: blur(3px);
}

.header .video-container .blackout {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    z-index: -1;
}

.header .menu-container .menu {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    padding: 3vh 2dvw;
}
.header .menu-container .menu img {
    width: 100%;
    height: 20px;
}

.header .menu-container  .menu .logo {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 16px;
}

.header .menu-container  .menu #bars  {
    color: #fff;
    font-size: 20px;
    margin-left: 10dvw;
}
.header .data-container {
    margin-top: 5vh;
}

.header .data-container .text h1 {
    text-align: center;
    color: #fff;
}
.header .data-container .text p {
    color: #fff;
    text-align: center;
    font-size: 18px;
    margin-top: 2dvh;
    opacity: .8;
}

.header .data-container .text .button-container {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    margin-top: 4vh;
    border: 2px solid #F14D34;
    display: flex;
    justify-content: center;
    transition: .3s;
    padding: 3vh 3dvw;
}
.header .data-container .text .button-container:hover {
    background: #F14D34;
}
.header .data-container .text .button-container button {
    font-size: 12px;
    border: none;
    text-align: center;
    background: none;
    color: #fff;
}
.header .data-container .achievements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 3vh 6dvw;
}
.header .data-container .achievements .achievement {
    width: 100%;
    max-width: 150px;
    color: #fff;
    border-left: 4px solid #F14D34;
    padding-left: 2dvw;
    margin: 3vh 1vw;
}

.header .data-container .achievements .achievement:first-child {
    height: 67px;
}
.header .data-container .achievements .achievement:first-child p {
    margin-bottom: 30px;
}
.header .data-container .achievements .achievement .cup-container {
    display: flex;
}
.header .data-container .achievements .achievement h2 {
    font-size: 24px;
}
.header .data-container .achievements .achievement #main-text-big {
    font-size: 48px;
}
.header .data-container .achievements .achievement p {
    font-size: 12px;
}

.services {
    display: block;
    height: 100vh;
}